a{
    color: blue;
    text-decoration: none;
    padding: 20px;
}
a:active{
    color: aqua;
}
a:hover{
    background-color: forestgreen;
}
.box{
    width: 200px;
    height: 208px;
    border: 2px solid #333;
}
.box:hover{
    background: red;
    width: 300px;
}